table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 80%;
}

.row{
margin: 10px;
}

.col-2{
text-align: right;
}

tr.example-element-row{
cursor: pointer;
}

tr.example-element-row:not(.example-expanded-row):hover {
background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
background: #efefef;
}

.button_action{
  margin: 10px;
  float: right;
}